/****************************************************************
 ABOUT
 ***************************************************************/
section#about {
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin-top: -10vh;
  margin-left: calc( 0.9 * 1.73 * 100vh);
  width: calc( 100vw - 21rem );

  padding: 10rem 0;
  box-sizing: border-box;
}

#about-title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 0.8125em;
}
