/****************************************************************
 ABOUT
 ***************************************************************/
section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-title {
  position: relative;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  
  width: 17em;
  margin-right: 10em;
  margin-bottom: 10em;

  color: white;
}

#about-interests {
  font-size: 1.5rem;
  margin-right: 16em;
  width: 20em;
}

#about > img {
  position: absolute;
}

#about-transition {
  font-size: 1.25em;
  width: 33.2em;
  height: auto;
  margin-bottom: 4.6em;
  margin-right: 1em;
}

#about-e7 {
  margin-left: 50em;
  margin-bottom: 7.3em;

  width: 25em;
}

#about-roundabout { margin-left: 50.8em; margin-top: 24em; }

#about-road1 { margin: 12.6em 0 0 32em; }
#about-road2 { margin: 33.7em 0 0 68.8em; }
#about-road3 { margin: 37.72em 0 0 75.8em; }
#about-road4 { margin: 41.74em 0 0 82.8em; }
#about-road5 { margin: 45.76em 0 0 89.8em; }

#about-sign {
  margin-left: 90em;
  margin-top: 23.3em;

  width: 15em;
}
