/****************************************************************
 ISOMETRIC ASSETS
 ***************************************************************/
.isometric {
  font-size: 1.25em;
}

 .road {
  margin-bottom: 1em;
  width: 6.8em;
}

.roundabout {
  margin-bottom: 1em;
  width: 18.7em;
}