/****************************************************************
 Layer6
 ***************************************************************/
section#layer6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.segment-road3 { margin-left: 7em; margin-top: 4.05em; }

#about-sign {
  margin-left: 90em;
  margin-top: 23.3em;

  width: 15em;
}

#l6-building {
  width: 40em;

  margin-left: 46em;
  margin-bottom: 11.5em;
}

#l6-intersection {
  margin-bottom: 6.1em;
}

#l6-decor {
  width: 10em;
  margin-left: 57em;
  margin-top: 10em;
}
