/****************************************************************
 NAVBAR
 ***************************************************************/

nav {
  position: absolute;
  left: 0;
  top: calc( 50vh - 12rem );

  margin: 0 1.5rem;
  color: white;

  height: 24rem;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

#nav-title {
  font-size: 1.4rem;
  
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 0.85em;
  
  margin-bottom: 1rem;
}

#nav-timeline {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 3px solid #A6E4FF;
}

.nav-link {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-label {
  font-family: 'Kanit', sans-serif;
}

.nav-circle {
  font-size: 0.7rem;
  border-radius: 25px;
  height: 0.8em;
  width: 0.8em;
  background: #102521;
  border: 3px solid #A6E4FF;
  margin: 0 0.7rem 0 calc( -1.3em + 3px );
}

@media screen and (max-width: 900px) {
  nav {
    position: absolute;
    top: 0;
    left: 5vw;
     
    margin: 2rem 0 1rem;
    height: unset;
    flex-direction: row;
    width: 90vw;
  }
  #nav-title {
    flex: 0 0 6em;
  }
  #nav-timeline {
    flex-direction: row;
    border-top: 3px solid #A6E4FF;
    border-left: unset;
  }
  .nav-link {
    flex-direction: column;
  }
  .nav-circle {
    margin: calc( -1.3em + 3px ) 0 0.7rem 0;
  }
  
}