/****************************************************************
 NAVBAR
 ***************************************************************/

nav {
  position: absolute;
  left: 0;
  top: 0;

  padding: 0 3rem 0 2.5rem;
  color: white;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

#nav-background {
  position: absolute;
  left: 0;
  object-fit: cover;
  height: 100vh;
  width: 20vw;

  mask-image: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0));
  z-index: -1;
}

#nav-title {
  font-size: 1.4rem;
  
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 0.85em;
  
  margin-bottom: 1rem;
}

#nav-timeline {
  display: flex;
  flex-direction: column;
  flex: 0 0 24rem;
  border-left: 3px solid #A6E4FF;
}

.nav-link {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1em;
  transition: flex 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.nav-label {
  font-family: 'Kanit', sans-serif;
}

.nav-circle {
  font-size: 0.7rem;
  border-radius: 25px;
  background: #102521;
  border: 3px solid #A6E4FF;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, margin 0.2s ease-in-out;
  height: 0.8em;
  width: 0.8em;
  margin: 0 0.7rem 0 calc( -0.8em - 1px );
}

.active-nav .nav-circle {
  height: 1.4em;
  width: 1.4em;
  margin: 0 0.7rem 0 calc( -1.1em - 1px );
}

.nav-circle-quarters {
  font-size: 0.7rem;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0,0,0,0) #A6E4FF;
  border-radius: 50%;
  border-style: solid;
  background: rgba(0,0,0,0);
  z-index: -1;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, margin 0.2s ease-in-out, border-width 0.2s ease-in-out;
  height: 0px;
  width: 0px;
  margin: 0 0.7rem 0 calc( -0.9em + 1px );
  border-width: 0px;
}

.active-nav .nav-circle-quarters {
  height: calc( 2.6em + 2px );
  width: calc( 2.6em + 2px );
  margin: 0 0.7rem 0 calc( -1.9em + 3px );
  border-width: 2px;
}

#resume-link {
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.icon-link > img {
  fill: white;
  height: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  #nav-background {
    display: none;
  }
  nav {
    position: absolute;
    top: 0;
    left: 5vw;
     
    margin: 2rem 0 1rem;
    height: unset;
    flex-direction: row;
    width: 90vw;
  }
  #nav-title {
    flex: 0 0 6em;
  }
  #nav-timeline {
    flex-direction: row;
    border-top: 3px solid #A6E4FF;
    border-left: unset;
  }
  .nav-link {
    flex-direction: column;
  }
  .nav-circle {
    margin: calc( -1.3em + 3px ) 0 0.7rem 0;
  }
  
}