@import url(
  'https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,900&family=Work+Sans:ital,wght@1,400;1,600&display=swap'
);

@import './navbar.css';
@import './splash.css';
@import './about.css';

html {
  font-size: 18px;
  height: 100%;
  overflow: hidden;
  color: white;
}

body {
  background: url(../img/moonlight.png);
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  margin: 0;
}


@media screen and (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  body {
    flex-direction: column;
  }
}

@media screen and (max-width: 776px) {
  html {
    font-size: 11px;
  }
  body {
    flex-direction: column;
  }
}

main {
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main-contents {
  pointer-events: none;
  position: absolute;
}

#dummy {
  height: 10000px;
}

section {
  overflow: visible;
  transform: matrix3d(0.71, 0.71, 0, 0, -0.5, 0.5, 0.71, 0, 0.5, -0.5, 0.71, 0, 0, 0, 0, 1) scale(1,2);
  /* matrix3d(0.71, 0.71, 0, 0, -0.5, 0.5, 0.71, 0, 0.5, -0.5, 0.71, 0, 0, 0, 0, 1); */
}

a {
  color: inherit;
  text-decoration: none;
}
