
:root {
  color-scheme: light dark;
  --inter-section-gap: 6rem;
  --inter-article-gap: 2rem;
  --project-image-width: 12rem;
}

@media (max-width: 640px) {
  html {
    font-size: 12px !important;
  }

  :root {
    color-scheme: light dark;
    --project-image-width: 8rem !important;
  }

  .art-section {
    grid-template-columns: auto auto !important;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px !important;
  }

  .art-section {
    grid-template-columns: auto !important;
  }
}

html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: none;
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(41, 19, 3);
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

a {
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 2rem 0 0;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  max-width: 48rem;
  margin: 0 auto;
  scroll-behavior: smooth;

  background-color: #ffffff10;
  padding: 2rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, h2, h3 {
  font-family: "IM Fell DW Pica", serif;
  margin-top: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0 0.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

.contact-section-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.5rem;
  justify-content: center;
  margin: 0 0 var(--inter-section-gap);
}

section {
  margin: var(--inter-section-gap) 0 0;
}

article {
  display: flex;
  flex-direction: row;
  margin: 0 0 var(--inter-article-gap);
}

.project-description {
  display: inline-block;
  padding: 1rem;
  background-color: #f0f0f0;
  outline: 1px solid #000000;
}

.project-image {
  width: var(--project-image-width);
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.project-image-container {
  background-color: #000000;
  width: var(--project-image-width);
  overflow: hidden;
  flex: 0 0 var(--project-image-width);
  outline: 1px solid #000000;
}

.read-more {
  font-size: 0.8rem;
  align-self: flex-end;
  text-decoration: line-through;
  cursor: not-allowed;
}

.art-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem 1rem;
  justify-content: center;
}

.art-card {
  flex: 1 1 12rem;
  max-width: 20rem;
}

.art-image {
  width: 100%;
  object-fit: contain;
}