@import '../../styles/main.scss';

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100vw;
  padding: 0.5rem 1.2rem;
  box-sizing: border-box;
  font-size: 0.9rem;

  background: $footer-gradient;

  #made-in {
    display: flex;
    flex: 1 1;
    @media screen and (max-width: 786px) {
      display: none;
    }
  }

  #copyright {
    display: flex;
    flex: 1 1;
    flex-direction: row-reverse;
  }

  #links {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: center;

    a {
      margin: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1;

      svg {
        width: 1.2em;
        height: auto;
      }

      &:hover {
        filter: drop-shadow(0px 0px 15px #000000);
      }
    }
  }
}