@import "../../styles/main.scss";

.landing-page {
  padding-top: $navbar-height;

  @media screen and (min-width: $min-tablet) {
    padding-top: unset;
  }

  @media print {
    padding-top: unset;
  }

  p {
    max-width: 32rem;
    text-indent: 2rem;
    margin: 0;
  }

  .intro {
    padding: 2rem 2rem 0 2rem;
    background: url(../../../src/templates/landing/images/woosh.png) no-repeat no-repeat;
    background-size: 100% 95%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $min-tablet ){
      padding: 4rem 4rem 0 4rem;
    }

    @media screen and (max-width: $max-phone-s ){
      padding: 1rem 1rem 0 1rem;
    }

    .head {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $max-phone-s ){
        width: 100%;
        .content {
          width: 100%;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: $max-phone-s ){
          width: 100%;
          h1 {
            font-size: 2.7rem;
          }
        }

        div {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;

          &.top span {
            font-size: 1.2em;
            margin-right: 0.8rem;
          }

          &.bot span {
            font-size: 1.2em;
            margin-left: 0.8rem;
          }

          .mid-line {
            display: inline-block;
            flex: 1 1;
            margin: 0;
            height: 3px;
            background: black;
            border-radius: 1.5px;
          }
        }

        .mid {
          padding: 0 25px;
          display: flex;
          justify-content: center;
        }
      }

      .links {
        flex: 1 1;
        display: none;
        @media screen and (min-width: $min-tablet ){
          display: initial;
        }

        .links-inner {
          float: right;
          padding-right: 0.5rem;
          border-right: 1px solid black;

          a {
            display: block;
            margin: 1rem 0 1rem;
            text-align: right;
            font-size: 1.2rem;
          }
          .resume {
            margin: 0.5rem 0 0;
            padding: 0.5rem 1rem;
            background: $resume-gradient;
            font-weight: 300;
            border-radius: 0.3em;
            box-shadow: $small-button-shadow;
          }
        }
      }
    }

    .paragraph-intro {
      margin-top: 8rem;

      p {
        font-size: 1.1rem;
        max-width: 24rem;
        text-indent: 2rem;
        text-align: left;
        float: right;
      }
    }

    .paragraph-about {
      margin-top: 6rem;
      float: right;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;

      p {
        text-align: right;
      }

      @media screen and (max-width: $max-phone-s ){
        float: left;
        justify-content: flex-start;
        p {
          text-align: left;
        }
      }
    }

    .paragraph-interests {
      margin-bottom: 1rem;
    }
  }

  .experience {

    padding: 2rem 2rem 0 2rem;

    @media screen and (max-width: $max-phone-s ){
      // extra small padding on small phones
      padding: 1rem 1rem 0 1rem;
    }

    @media screen and (min-width: $min-tablet ){
      padding: 4rem 4rem 0 4rem;
    }

    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
      margin-bottom: .4rem;
    }
  }

  .contact {
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 2.4rem;

    @media screen and (min-width: $min-tablet ){
      padding: 4rem 4rem 0 4rem;
    }

    @media screen and (max-width: $max-phone-s ){
      padding: 1rem 1rem 0 1rem;
    }

    .has-errors {
      box-shadow: 0 0 0 1.7pt $red;
      -webkit-animation: shake .25s linear;
      animation: shake .25s linear;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;

      .field-container {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        padding: 0 0 1.4rem;
      }

      .form-error {
        font-size: 0.8em;
        color: $red;
        margin-bottom: -.3rem;
        margin-top: 0.3rem;
        height: 0;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $min-desktop){
          max-width: calc( #{$min-desktop} - 8rem );
        }

        input,
        textarea {
          flex: 1 1;
          font-size: 1rem;
          padding: 0.5em 0.75em 0.375em;
          border: none;
          background: $gray;
          border-radius: 0.3em;
          box-sizing: content-box;
          &:focus, &:active {
            outline: none;
            box-shadow: 0 0 0 1.7pt $blue;
          }
        }

        #top {
          display: flex;
          
          flex-direction: column;
          
          @media screen and (min-width: $min-desktop) {
            flex-direction: row;
          }

          #name {
            @media screen and (min-width: $min-desktop) {
              margin-right: 0.75rem;
            }
          }
        }

        #middle {
          display: flex;
          flex-direction: column;
          padding-bottom: 1.2rem;

          textarea {
            height: 5.5em;
            resize: none;
            -moz-resize: none;
          }
        }

        #bottom {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          input {
            flex: 0 0 12.5em;
            box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.25);
            background: $brightyellow;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@-webkit-keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  16%,
  83% {
    -webkit-transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
}

@keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  16%,
  83% {
    -webkit-transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
}