@import './variables.scss';

html {
  font-size: 24px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $background;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Overpass";
  font-weight: 100;
}

h1 {
  font-family: "Merriweather";
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Merriweather";
  font-weight: 400;
  margin: 0;
  font-size: 2rem;
}

// Font utility classes

body p, .overpass, .overpass-thin {
  font-family: "Overpass";
  font-weight: 100;
}

.overpass-light {
  font-family: "Overpass";
  font-weight: 300;
}

.overpass-regular {
  font-family: "Overpass";
  font-weight: 400;
}

.overpass-regular-italic {
  font-family: "Overpass";
  font-weight: 400;
  font-style: italic;
}

.overpass-semibold {
  font-family: "Overpass";
  font-weight: 600;
}

.merriweather, .merriweather-bold {
  font-family: "Merriweather";
  font-weight: 700;
}

.merriweather-regular {
  font-family: "Merriweather";
  font-weight: 400;
}

.merriweather-black {
  font-family: "Merriweather";
  font-weight: 900;
}