// Variables

// Colors

$black: #151722;
$background: #FCFCFA;
$background-gradient: #F3F3F2;
$gray: #f1f1f1;
$darkgray: #d7d7d7;
$darkergray: #737373;
$brightyellow: #F4FCD7;
$red: #D70000;
$blue: #73B3FF;
$darkblue: rgb(18, 107, 214);

// Gradients

$footer-gradient: linear-gradient(270deg, #E4D6C2 0%, #F5FCD7 24.48%, #D3F7D8 50%, #D9FFFB 100%);
$resume-gradient: linear-gradient(82.66deg, #B7F9B3 -10.07%, #F3F0C3 50.03%, #FCD19C 105.32%);

$small-button-shadow: -3px 3px 10px 0px rgba(0,0,0,0.25);


// Screen widths

$max-phone-s: 480px;

$max-phone: 481px;
$max-phone: 768px;

$min-tablet: 769px;
$max-tablet: 1024px;

$min-desktop: 1025px;

// Shared sizes
$navbar-height: 5rem;