@import "../../../styles/main.scss";

.mobile {
  position: relative;
  isolation: isolate;

  width: 350px;
  height: 366px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10vh 0 30vh;

  @media screen and (max-width: 1024px) {
    width: 263px;
    height: 274px;
  }

  @media screen and (max-width: 786px) {
    padding: 0 0 2rem;
  }

  

  .transformer {
    transform: skew(-32deg, 12deg) scale(0.4);
    position: relative;
    left: -6px;
    top: -13px;

    @media screen and (max-width: 1024px) {
      transform: skew(-32deg, 12deg) scale(0.3);
      left: -4px;
      top: -9px;
    }
  }

  .frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 424px;
    height: auto;
  }

  .screen {
    position: relative;
    // these margins are fixed from the iphone frame img
    top: 10px;
    left: 12px;
    width: 360px;
    height: auto;
    z-index: 0;
  }
}

.preview {
  width: 360px;
  max-width: 32vw;
  height: auto;

  padding: 10vh 0 30vh;

  @media screen and (max-width: 786px) {
    padding: 0 0 2rem;
    max-width: unset;
    width: 240px;
  }
}