@import "../../../styles/main.scss";

.project-transition {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 15px -8px inset;
  overflow: hidden;
  padding-top: 20px;
  svg {
    width: 551px;
    height: 88px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    @media screen and (max-width: 786px) {
      width: 55.1vw;
      height: 8.9vw;
    }
  }
}